.background {
    opacity: 85%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -999;
    filter: brightness(40%)
}

.logo {
    margin: auto;
    color: red;
    padding: 2vh;

    top: 5vh;
    width: 50%;


    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-size: 20vh;

}

.island {
    position: relative;
    width: 20vh;
    min-width: 160px;
    height: 30vh;
    min-height: 200px;
    border: 20px solid rgb(124, 124, 168);
    border-radius: 2%;
    top: 5vh;
    background-color:rgb(124, 124, 168);
    margin: auto;

}


.form {
    display: grid;
    justify-content: center;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas:
        "first first first"
        "fname fname fname"
        "last last last"
        "lname lname lname"
        " . sign-in ."
}

#first {
    grid-area: first;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#last {
    grid-area: last;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fname {
    grid-area: fname;
}

#lname {
    grid-area: lname;
}

.sign-in {
    grid-area: sign-in;
    height:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.sign-in:hover{
    background-color: rgb(97, 125, 202);
}

.sign-up:hover {
    text-decoration: underline;
    cursor:pointer;
    color: blue;
}

.help{
    position: absolute;
    bottom: 0;
    left: 0;
}