body {
    margin: 0px;
    font-family: "Protest Strike", sans-serif;
}

button{
    font-family: "Protest Strike", sans-serif;
}

.header {
    width: 100%;
    height: 55px;
    background-color: black;
    left: 0;
    top: 0;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo-container {
    margin-right: auto;
}

.logo {
    font-size: 20px;
    display: flex;
    color:crimson;
}

.menu-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu-list-item {
    margin-inline: 20px;
    cursor: pointer;
}


.active {
    text-decoration: underline;
}

.search {
    display: flex;
    margin: 15px;
    align-items: center;
    width: max-content;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    background: #c8c7c7;
    transition: background 0.25s;
    justify-content: center;
}

.sign-in-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-button {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.sign-in {
    border-radius: 20px;
    width: 70px;
    height: 30px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 0.1 ease-in-out;
}

@media only screen and (max-width: 900px) {
    .menu-container {
        display: none;
    }
}

.container {
    background-color: #111111;
    min-height: calc(100vh-60px);
    color: white;

}

.featured-content {
    height: 60vh;
    padding:100px;
}

.featured-title{
    width: 600px;
}

.featured-desc{
    width:500px;
    color:lightgray;
    margin:30px 0;
    font-size: large;
}

.featured-button{
    background-color: crimson;
    color:white;
    padding:10px 20px;
    border-radius:10px;
    outline:none;
    border:none;
    font-weight: bold;
    cursor:pointer;
}

.featured-button.rent{
    margin:0 20px;
    padding-inline:24px;
}

.movie-list-container{
    padding:20px;
}

.movie-list-title{
    position: relative;
    left:20px;
    margin-bottom:30px;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list-item-image{
    width:400px;
    height: 250px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    border:lightgray 1px solid;
    border-radius: 10px;
}

.movie-list{
    display:flex;
    align-items: center;
    height:300px;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
}

.movie-list-item{
    margin: 19px;
    position: relative;
    box-sizing: border-box;
}


/* @media only screen and (max-width: 1340px) {
    .movie-list{
        transform: scale(0.8);
    }
} */


.movie-list-item:hover .movie-list-item-image{
    transform: scale(1.15);
    margin:0 25px;
    opacity:0.5;
}

.movie-list-item:hover .movie-list-item-title{
    opacity: 1;
}

.movie-list-item:hover .movie-list-item-desc{
    opacity: 1;
}

.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-title{
    padding:0 10px;
    font-size: 32px;
    position: absolute;
    top:10%;
    left:20px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.movie-list-item-desc{
    padding:10px;
    font-size: 14px;
    position: absolute;
    top:20%;
    left:20px;
    width:360px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.movie-list-item-button{
    padding:10px;
    background-color: crimson;
    color:white;
    border-radius:10px;
    width:70px;
    outline:none;
    border:none;
    cursor: pointer;
    position: absolute;
    bottom:50px;
    left:30px;
    box-sizing: border-box;

    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.movie-list-item-button.rent{
    left: 120px;
}

.arrow{
    font-size: 100px;
    position: absolute;
    top: 100px;
    right: 0px;
    color: lightgray;
    opacity: 0.3;

    transition: all 0.3s ease-in-out;
}

.arrow:hover {
    opacity: 1;
}



.footer{
    background-color: #2c2c2c;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer-container{
    align-items: center;
    display: flex;
    padding:0 70px 0 70px;

}

.footer-list{
    margin:15px 100px 15px 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    align-items: center;
    color:white;
}

.footer-list li{
    cursor: pointer;
    padding:0;
    border:0;
    width:fit-content;
    list-style:none;
    margin:15px 0;
}

.footer-logo{
    justify-content:center;
    align-content:center;
    display: flex;
    color:crimson;
    font-size:40px;
}
@media only screen and (max-width: 1270px) {
    .footer-logo{
        display:none;
    }
}
@media only screen and (max-width: 1085px) {
    .footer-list{
        margin: 15px 30px 15px 30px;
    }
    .footer-container{
        padding-inline: 30px;
    }
}
